<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a39dd60c9e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../CSS/main.css">
        <link rel="stylesheet" href="../CSS/posts.css">
        <title>Primeira Semana | SyberList</title>
    </head>

    <body>
    
        <header id="header__page">
            <div id="header__logo">
                <img id="header__logo-img" src="../Assets/img/Logo-image.png" alt="Logo-image">
            </div>
            <nav>
                <ul id="header__links">
                    <li class="header__link">
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="header__link">
                        <a href="#">Contato</a>
                    </li>
                    <li class="header__link">
                        <a href="#">Nosso Site</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="container">
            <main id="container__post">
                <div class="card__date">
                    <span class="card__date-text">04 de jul.</span>
                </div>
                <div id="post__identification">
                    <h1 id="post__title">SyberList - Primeira Semana</h1>
                    <span id="post__subtitle"><strong>Reunião</strong> da <strong>primeira</strong> semana</span>
                </div>
                <img id="post__image" src="../Assets/img/wallpaper.png" alt="Logo-image">
                <div id="post__introduction">
                    <span id="post__introduction-text">Bem-vindo ao blog do SyberList. Esse será um espaço para nos conectarmos com nosso leitores e usuários de uma forma atualizada e interessante. Nesse espaço nós iremos compartilhar atualizações, tendências, notícias, novidades e muito mais sobre o site.</span>
                </div>
                <div id="post__story">
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Objetivo</h2>
                        <p class="topic__content">
                            Nessa reunião nós discutimos acerca da divisão das tarefas e organização do Projeto.
                        </p>
                    </div>
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Presentes</h2>
                        <p class="topic__content">
                            <span>Brandon Bentes Xavier</span>
                            <span>Cainã Carmo</span>
                            <span>Davi Hurtado</span>
                            <span>Guilherme Alves</span>
                            <span>João Pedro</span>
                            <span>Max William Teixeira</span>
                        </p>
                    </div>
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Faltas</h2>
                        <p class="topic__content">
                            <span>Miguel Matos - Teve problemas com o computador (Justificado)</span>
                        </p>
                    </div>
                </div>
            </main>
            <aside id="container__info">
                <div id="info__box">
                    <div id="info__photo">
                        <img id="info__image" src="../Assets/img/user.jpg" alt="">
                    </div>
                    <div id="info__description">
                        <h3 id="info__salute">
                            Olá, que bom ver você por aqui!
                        </h3>
                        <p id="info__text">
                           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro voluptatibus repudiandae nobis similique hic alias expedita culpa consequatur, quis eius cupiditate reprehenderit accusamus ad distinctio temporibus praesentium velit aliquid. Dignissimos!
                        </p>
                    </div>
                    <div id="info__control">
                        <button id="info__btn" type="button">Leia Mais</button>
                    </div>
                </div>
            </aside>
        </section>

        <footer id="footer">
            <img id="footer__logo--image" src="../Assets/img/Logo-image.png" alt="Logo-image">
            <div id="footer__line"></div>
            <span>SyberList&copy; 2022 - All Rights Reserved - <cite>by SyberGroup&trade;</cite></span>
        </footer>

        <script src="../Js/events.js"></script>

    </body>
</html>