<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a39dd60c9e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../CSS/main.css">
        <link rel="stylesheet" href="../CSS/posts.css">
        <title>Introdução | SyberList</title>
    </head>

    <body>
    
        <header id="header__page">
            <div id="header__logo">
                <img id="header__logo-img" src="../Assets/img/Logo-image.png" alt="Logo-image">
            </div>
            <nav>
                <ul id="header__links">
                    <li class="header__link">
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="header__link">
                        <a href="#">Contato</a>
                    </li>
                    <li class="header__link">
                        <a href="#">Nosso Site</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="container">
            <main id="container__post">
                <div class="card__date">
                    <span class="card__date-text">20 de jun.</span>
                </div>
                <div id="post__identification">
                    <h1 id="post__title">SyberList - Introdução</h1>
                    <span id="post__subtitle"><strong>Crie</strong> e <strong>Organize</strong> suas listas</span>
                </div>
                <img id="post__image" src="../Assets/img/Lago-Wallpaper.jpg" alt="Logo-image">
                <div id="post__introduction">
                    <span id="post__introduction-text">Bem-vindo ao blog do SyberList. Esse será um espaço para nos conectarmos com nosso leitores e usuários de uma forma atualizada e interessante. Nesse espaço nós iremos compartilhar atualizações, tendências, notícias, novidades e muito mais sobre o site.</span>
                </div>
                <div id="post__story">
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Objetivo</h2>
                        <p class="topic__content">
                            O site terá o objetivo de ser disponível para todos, com o intuito de seus usuários conseguirem ter acesso a descrição, a nota de avaliação e a comentários dados por outros usuários dos animes/filmes e series, para poderem criar suas listas de visualização. Lá eles conseguem selecionar, por preferência, qual anime/filme e serie ele mais gostou, e adicionar em sua lista, como no site My Anime List, para poderem se organizar conforme veem seus animes/filmes e series favoritos.
                        </p>
                    </div>
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Concepts das telas</h2>
                        <p class="topic__content">
                            Uma demostração das ideias de Design que nós tivemos das telas do Site.
                        </p>
                        <div id="topic__images">
                            <div class="topic__image" id="topic__image-home">
                                <p class="topic__image-explication">&RightArrow; Essas telas constituem nossa página Home, até então divididas em 2 seções essa que seria os "destaques", as seção a baixo que seria os outros tipos de tópicos.</p>
                                <img class="topic__photo" src="../Assets/img/Page_Home.png" alt="">
                                <img class="topic__photo" src="../Assets/img/Drop_List.png" alt="">
                                <img class="topic__photo" src="../Assets/img/Sliders_List.png" alt="">
                            </div>
                            <div class="topic__image" id="topic__image-login">
                                <p class="topic__image-explication">&RightArrow; Este seria o Formulário de login, ele vai ficar dentro da página ao invés de abrir uma guia só pra isso.</p>
                                <img class="topic__photo" src="../Assets/img/Login_Form.png" alt="">
                            </div>
                            <div class="topic__image" id="topic__image-register">
                                <p class="topic__image-explication">&RightArrow; E esta vai ser a página de registro.</p>
                                <img class="topic__photo" src="../Assets/img/Page_Register.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="post__topic">
                        <h2 class="topic__title">&bullet; Fundadores</h2>
                        <p class="topic__content">
                            <span>Brandon Bentes Xavier</span>
                            <span>Cainã Carmo</span>
                            <span>Davi Hurtado</span>
                            <span>Guilherme Alves</span>
                            <span>João Pedro</span>
                            <span>Max William Teixeira</span>
                            <span>Miguel Matos</span>
                        </p>
                    </div>
                </div>
            </main>
            <aside id="container__info">
                <div id="info__box">
                    <div id="info__photo">
                        <img id="info__image" src="../Assets/img/user.jpg" alt="">
                    </div>
                    <div id="info__description">
                        <h3 id="info__salute">
                            Olá, que bom ver você por aqui!
                        </h3>
                        <p id="info__text">
                           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro voluptatibus repudiandae nobis similique hic alias expedita culpa consequatur, quis eius cupiditate reprehenderit accusamus ad distinctio temporibus praesentium velit aliquid. Dignissimos!
                        </p>
                    </div>
                    <div id="info__control">
                        <button id="info__btn" type="button">Leia Mais</button>
                    </div>
                </div>
            </aside>
        </section>

        <footer id="footer">
            <img id="footer__logo--image" src="../Assets/img/Logo-image.png" alt="Logo-image">
            <div id="footer__line"></div>
            <span>SyberList&copy; 2022 - All Rights Reserved - <cite>by SyberGroup&trade;</cite></span>
        </footer>

        <script src="../Js/events.js"></script>
    </body>
</html>